<h1><%= @place["name"] %></h1>

<div class="row">
  <% for post in @posts %>
    <div class="col-3">
        <h3><%= post["title"] %></h3> 
        <sub><%= post["posted_on"] %></sub>
        <p><%= post["description"] %></p>
    </div>
  <% end %>
</div>

<p>---</p>

<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>
</p>

<p>---</p>

<h2>
    <a href="/places"> Back to all places </a>
</h2>
